# Core functionality - changes here should be rare!
/src/app.py                   @Yohannes33
/src/backend/database.py      @Yohannes33
/src/backend/routers/auth.py  @Yohannes33

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Yohannes33
